body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #9e9e9e;
}

h1, #description {
    display: flex;
    justify-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#line {
    padding-left: 15px;
    margin-top: 25px;
}

a {
    margin-top: 25px;
    padding-left: 15px;
}

ul {
    line-height: 1.7;
}